*.zip
*.so
*.obj
*.asv

.idea/
.metadata
.vscode
*.iml

# For headstart/se1/generateCover
*.log
node_modules
output.pdf

# Convenience
git_ignore_*

# Build artifacs
*.out
*.class
*.o
*.bkp

# LaTeX build
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.pdf

# Mathematica stuff
*.m

!2022s/algebra/ue/*.pdf
!2022s/mult/exam/*.pdf
testFSTree

out
.project

__pycache__
